
<div class="container">
  <div class="row justify-content-center mt-5 pt-5">
    <div class="col-xs-3 col-md-offset pt-5">
      <h3 class="text-primary title text-center">вход</h3>
      <form #formName="ngForm" (submit)="addNewContact(formName)">
        <div class="form-group">
          <label for="Number">имя</label>
          <input type="text" class="form-control" name="id" placeholder="eg:Клайф" ngModel #num="ngModel" id="name"   required>
          <small class="text-danger form-text" *ngIf="num.touched && !num.valid">имя пользователя не требуется</small>
        </div>
        <div class="form-group">
          <label for="pwd">пароль</label>
          <input type="password" class="form-control" name="title" placeholder="eg:******" #pass="ngModel" ngModel id="pwd"  required>
          <small class="text-danger form-text" *ngIf="pass.touched && !pass.valid">пароль не требуется</small>
        </div>
        <div class="form-group text-center">
          <button type="submit" [disabled]="!formName.valid" class="btn w-100 btn-primary">войти</button>
        </div>
        
      </form>
    </div>
  </div>
</div>
